

:root {
    font-family: 'Quicksand', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
// ::-webkit-scrollbar:hover {
//     width: 10px;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #f1f1f1; 
//   }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 5px;
  }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555; 
//   }
.container{
    margin-top: 75px;
    width: 100vw;
    padding: 0px;
}
body{
    padding: 0;
    margin: 0;
}
.padding__main {
    padding: 0px 100px;
    
    @media only screen and (max-width: 1075px) {
        padding: 5px 30px;
    }

    @media only screen and (max-width: 500px) {
        padding: 5px 10px;
    }
}
.management_item{
    .management_item-header{
        text-align: center;
        padding: 10px;

    }
    .management_item-filter{
        text-align: center;
        display: flex;
        .filter_left{
            flex: 1;
            text-decoration: underline;
        }
        .filter_right{
            flex: 1;
            position: relative;

            .setting_container{
                z-index: 10;
                border-radius: 20px;
                padding: 10px 20px;
                background-color: aliceblue;
                position: absolute;
                width: 260px;
                left: calc(45% - 130px);
                box-shadow: 2px 5px 5px 2px #999;
                // display: none;
            }
            .setting_item{
                font-size: 18px;
                padding: 2px 0;
                select{
                    border: none;
                    font-size: 18px;
                    background-color: aliceblue;
                }
            }
        }
    }
}
.text1{
    font-size: 30px;
    font-weight: 700;
}
.text2{
    font-size: 30px;
    font-weight: 600;
}
.text3{
    font-size: 30px;
    font-weight: 500;
}
.text4{
    font-size: 25px;
    font-weight: 700;
}
.text5{
    font-size: 25px;
    font-weight: 600;
}
.text6{
    font-size: 25px;
    font-weight: 500;
}
.text7{
    font-size: 20px;
    font-weight: 700;
}
.text8{
    font-size: 20px;
    font-weight: 600;
}
.text9{
    font-size: 20px;
    font-weight: 500;
}
.stack{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0px 0;
}
.title_icon{
    margin: 0px 15px;
    transform: scale(1.5);
    cursor: pointer;
}
.title_icon:hover{
    transform: scale(1.8);
}
.button{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: crimson;
    cursor: pointer;
    color: #fff;
    height: 35px;
}
.button:hover{
    opacity: 0.7;
}
// div{
//     margin: auto;
// }
.normal_image{
    height: 250px;
    width: auto;
}
.small_image{
    height: 180px;
    width: auto;
}
.extra_small_image{
    height: 120px;
    width: auto;
}
.extra_extra_small_image{
    height: 80px;
    width: auto;
}
.big_image{
    height: 350px;
    width: auto;
}
.extra_big_image{
    height: 460px;
    width: auto;
}
.extra_extra_big_image{
    height: 600px;
    width: auto;
}
img{
    max-width: 70vw;
    max-height: 70vh;
}
input, select{
    text-align: center;
}



