.header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.title {
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
}
.title-model {
  margin: 10px;
  font-size: 22px;
  font-weight: 500;
}
.result-container {
  .result {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    .item {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 28px;
      .text {
      }
      .pos {
        color: blue;
      }
      .neg {
        color: red;
      }
      .neu {
        color: green;
      }
    }
  }
}
.file-label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  padding: 6px 16px;
  margin-right: 0.5rem;
  display: inline-block;
  background-color: #4caf50; /* Màu nền của button */
  color: white; /* Màu chữ trắng */
  cursor: pointer;
}

.file-input {
  display: none;
}
.result-header {
  text-align: center;
  font-size: 24px;
}

.container-btn {
  display: flex;
  padding: 10px;
}
